@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.rainbow {
  background-image: url("https://tailwindcss.com/_next/static/media/docs@30.8b9a76a2.avif");
  background-repeat: no-repeat;
}
